* {
	padding: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 600% 600%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#main {
    padding: 1rem;
    width: 300px;
    height: auto;
    display: none;
    background: #C55165;
    opacity: .8;
}

h1 {
    text-align: center;
}

#buttons {
    text-align: center;
}

.like-button {
    background: none;
    cursor: pointer;
    color: red;
    font-size: 2rem;
    border: none;
    transition: color 300ms;
}

.drink-container {
    text-align: center;
    align-items: center;
    border: none;
}